*{
    margin: 0;
}

                                       /* Inicio - menu de navegação */

body{
    background-image: linear-gradient(to bottom,#ffc600,#fff 40%,#C9A939);
} 

 nav{
    background-color:#7d0093
}

nav ul{
    
    list-style-type: none;
    font-size: 1.3em;
    height: 4.5em;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
}
nav a:hover {
    background-color: #A020F0;
    color: #fff;
    box-shadow: 0 5px #A020F0;  /*efeito de sombra*/
}

.navegação {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color:#000;
    font-weight: bold;
    text-decoration: none;  
}

.logo-area >img{
    width: 5.4em;
}

                                    /* Fim - menu de navegação */
                                
form, .teste{
    
    width: 500px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.priv-púb{
    
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1.6em;
}

.escolhas{
    text-align: center;
}

.formas-de-pagamento, .card{
    text-align: center;
    font-size: 1.5em;
    
}

input{
    text-align: center;
}

input, textarea{
    width: 35.4em;
   padding: 20px;
   justify-content: center;
}

textarea{
    width: 88%;
    justify-content: flex-end;
    line-height: 1.7em;
    margin: 1.3em
}

                                           /* botões */

.botão{
    
    justify-content: center;
    display: flex;
}

.botão-aceitar input{
    background: #32CD32;
    height: 2.9em;
    width: 11em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.botão-aceitar input:hover{
    background: #00FF00;
}

.botão-recusar input{
    text-align: center;
    background:  #FF6347;
    height: 2.9em;
    width: 11em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.botão-recusar input:hover{
    background: #FF0000
}

input{
    margin: 1.3em;
    padding: 1em;
}

textarea{
    text-align: center;
}
textarea{
    width: 15em;
}

.voltar-ao-topo{
    text-align: center;
    background-color: #7d0093;
    justify-content: flex-end;
    width: 100%;
}

#bt-mobile-menu{
    display: none;
}
@media (max-width: 600px) {
  

   .formas-de-pagamento {
    font-size: 1em;
    flex-direction: column;
    width: 20em;
}

 .escolhas {
     font-size: 1em;
     flex-direction: column;
     width: 20em;
 }

 .priv-púb {
     
     text-align: center;
     flex-direction: column;
     width: 10em;
 }

 input{
     width: 10em;
     display: table-column;
    
 }


 .botão, .botão-aceitar{
     width: 23.3em;
 }

 .botão, .botão-recusar{
     width: 22.2em;
 }

 .triste{
     width: 18.9em;
     justify-content: center;
 }

 .teste{
     width: 18.9em;
     margin: 0 auto;
 }



 h2 {
     margin: 1em;
     flex-direction: column;
     width: 10em;
 }



 h1 {
     margin: 1em;
     flex-direction: column;
     width: 10em;
 }



.nav {
    font-size: 1em;
    padding: 3em 0 0 0;
    
}



.logo-area > img {
 position: relative;
 float: right;
}

nav #bt-mobile-menu {
    display: block;
}

nav .bt-common-menu {
    display: none;
}

nav .bt-common-menu.active {
    display: block;
}
  
nav ul.mobile-mode {
    display:flex;
    flex-direction: column;
}
}





