                                            /* inicio - nav */

body{
    background-image: linear-gradient(to bottom,#ffc600,#fff 40%,#C9A939);
} 

 nav{
    background-color:#7d0093
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    height: 4.5em;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
}
nav a:hover {
    background-color: #A020F0;
    color: #fff;
    box-shadow: 0 5px #A020F0;  /*efeito de sombra*/
}

.navegação {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color:#000;
    font-weight: bold;
    text-decoration: none;  
}

.logo-area >img{
    width: 5.4em;
}

                                                     /* fim - nav */

form{
    font-size: 1em;
    max-width: 33em;
    margin: 0 auto;
}

h1{
    color: #333
}

input, textarea{
    width: 30em;
    padding: 1em;
}

.entrar input{
    background: #32CD32;
    height: 2.9em;
    width: 11em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.entrar input:hover{
    background: #00FF00;
}

.voltar-ao-topo{
    text-align: center;
    background-color: #7d0093;
    margin-top: 27.1em;
    justify-content: flex-end;
}

p{
    margin: 1em;
    text-align: center;
}

input, textarea{
    width: 22em;
    height: 1em;
}

input{
    margin: 1.3em;
}

#bt-mobile-menu{
    display: none;
}
@media (max-width: 600px) {
   .input, textarea{
       font-size: 1em;
       margin: 1em;
       flex-direction: column;
       width: 10em;
   }

@media (max-width: 600px) {
   .nav {
       font-size: 1em;
       padding: 3em 0 0 0;
       
   }
}


@media (max-width: 600px) {
   .logo-area > img {
    position: relative;
    float: right;
   }

   nav #bt-mobile-menu {
       display: block;
   }

   nav .bt-common-menu {
       display: none;
   }

   nav .bt-common-menu.active {
       display: block;
   }
     
   nav ul.mobile-mode {
       display:flex;
       flex-direction: column;
   }
}
}