*{
    margin: 0%;
}

body{
   background-image: linear-gradient(to bottom,#ffc600,#fff 40%,#C9A939);
}
                                            /* inicio - menu de nav */
nav{
    background-color:#7d0093
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    height: 4.5em;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #361a0c;
    font-weight: bold;
}
nav a:hover {
    background-color: #A020F0;
    color: #fff;
    box-shadow: 0 5px #A020F0;  /*efeito de sombra*/
}

.navegação {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color:#000;
    font-weight: bold;
    text-decoration: none;
}

.logo-area >img{
    width: 5.4em;
}
                                                /* fim - nav */

form{
    font-size: 1em;
    max-width: 33em;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: #333;
    margin: 1.3em;
    text-align: center;
}

input, textarea{
    width: 25em;
    height: 2.6em;
}

.salvar-alterações input{
    background: #32CD32;
    height: 2.9em;
    width: 11em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.salvar-alterações input:hover{
    background: #00FF00;
}

.cancelar input{
    background: #FF6347;
    height: 2.9em;
    width: 11em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.cancelar input:hover{
    background: #ff0000;
}

p{
    margin: 1.3em;
}

input{
    margin: 1.3em;
}

.botoes{
    display: flex;
    justify-content: center;
}

.voltar-ao-topo{
    text-align: center;
    background-color: #7d0093;
    justify-content: flex-end;
    width: 100%;
}

#bt-mobile-menu{
    display: none;
}
@media (max-width: 600px) {
   .input, textarea{
       font-size: 1em;
       margin: 1em;
       flex-direction: column;
       width: 10em;
   }

@media (max-width: 600px) {
   .nav {
       font-size: 1em;
       padding: 3em 0 0 0;
       
   }
}

input, textarea{
    width: 23.4em;
    height: 2.6em;
}

@media (max-width: 600px) {
   .logo-area > img {
    position: relative;
    float: right;
   }

   nav #bt-mobile-menu {
       display: block;
   }

   nav .bt-common-menu {
       display: none;
   }

   nav .bt-common-menu.active {
       display: block;
   }
     
   nav ul.mobile-mode {
       display:flex;
       flex-direction: column;
   }
}