
body{
    background-image: linear-gradient(to bottom,#ffc600,#fff 40%,#C9A939);
    font-family: Arial, Helvetica, sans-serif;
    color: #000
 }
                      /* Inicio do menu de navegação */
nav {
 background-color:#7d0093;
 max-width: 100%;
} 

nav ul li{
 background-color:#7d0093;
}

nav ul{
 display: flex;
 list-style-type: none;
 font-size: 1.3em;
 height: 4.5em;
 align-items: center;
 justify-content: space-around;
 width: auto;
}

nav a {
 text-decoration: none;
 color: #361a0c;
 font-weight: bold;
}
nav a:hover {
 background-color:  #7d0093;
 color: #fff;
 box-shadow: 0 5px  #7d0093;  /*efeito de sombra*/
}

.navegação {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.3em;
 color:#000;
 font-weight: bold;
 text-decoration: none;
}

h2
{
    text-align: center;
}
h3{
    text-align: center;
}

h4{
    text-align: center;
}

/* ===========================================================================================================================
                                                            FIM HEADER
=============================================================================================================================== */
.up-text {
    vertical-align: top;
    padding-left: 0.7em;
}

table {
    text-align: center;
    color: black;
    border: 1px dashed   #7d0093;
    width: 100%;
    padding: 5px;
    word-break: normal;
}

table th {
    background-color:  #7d0093;
}

table a {
    text-decoration: none;
    color: black;
}

table a:hover {
    text-decoration: underline;
}

tfoot td {
    text-align: center;
    color:black;
    background-color:  #7d0093;
}

thead > tr:first-child > th:last-child {
    padding: 0 .5em;
}

.voltar-ao-topo{
    text-align: center;
    background-color:  #7d0093;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50em;
}

footer{
    text-align: center;
    background-color:  #7d0093;
    width: 100%;
}


