<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>portfólio</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css"/>
</head> 
<body class="image">
    <div class="topo">

    </div>
    <header>
            <nav> 
                
        <ul>
            <li><a href="Menuprincipal.html" class="navegação">Home</a></li>
            <li><a href="Passado.html" class="navegação">Passado</a></li>
            <li><a href="portfólio presente.html" class="navegação">Presente</a></li>
            <li><a href="futuro.html" class="navegação">Futuro</a></li>
            <li><a href="informações extras.html" class="navegação">Informações extras</a></li>
            <hr /> 
        </ul>
            </nav>
    </header>
    <div>
        <h1 class="titulo">
            A história de Vinicius. 
        </h1>  
    </div>
    
                                    
</body>
</html>