<main>
                    <div class="titulo">
                        <h1>Eventos que já ocorreram.</h1><br><br>
                        <h2>Animes</h2>
                    </div>
    <ul class="bugado">
        <li><a href="#img1"><img src="../img/animefreinds.png"  class="min" /></a></li>
        <li><a href="#img2"><img src="../img/animextreme1.png"  class="min" /></a></li>
        <li><a href="#img3"><img src="../img/animegarden1.png"  class="min" /></a></li>
        <li><a href="#img4"><img src="../img/comiccon1.png"     class="min" /></a></li>
    </ul>


    <div class="container">
        <div class="lbox" id="img1">
            <div class="box_img">
                <a href="#img4" class="btn" id="prev">&#171;</a>
                <a href="" class="btn" id="close">X</a>
                <img src="../img/animefreinds.png" />
                <a href="#img2" class="btn" id="next">&#187;</a>
            </div>
        </div>

        <div class="lbox" id="img2">
            <div class="box_img">
                <a href="#img1" class="btn" id="prev">&#171;</a>
                <a href="" class="btn" id="close">X</a>
                <img src="../img/animextreme1.png" />
                <a href="#img3" class="btn" id="next">&#187;</a>
            </div>
        </div>

        <div class="lbox" id="img3">
            <div class="box_img">
                <a href="#img2" class="btn" id="prev">&#171;</a>
                <a href="" class="btn" id="close">X</a>
                <img src="../img/animegarden1.png" />
                <a href="#img4" class="btn" id="next">&#187;</a>
            </div>
        </div>

        <div class="lbox" id="img4">
            <div class="box_img">
                <a href="#img3" class="btn" id="prev">&#171;</a>
                <a href="" class="btn" id="close">X</a>
                <img src="../img/comiccon1.png" />
                <a href="#img1" class="btn" id="next">&#187;</a>
            </div>
        </div>
    </div>
</main>