 <main>

         <div class="text">
     
            <div class="Imagens-home">
                <p><strong>AnimeXtreme</strong></p>
                <img src="../img/animextreme1.png" title="Animextreme"/>
                <p>Sexta-feira, 30 de Agosto.<br> Inicio às 16:00,<br> Término às 21;00h.<br> <a href="https://www.animextreme.com.br/" target="blank">O que é o AnimeXtreme??</a> </p>
            </div>

              <div class="../Imagens-home">
                  <p><strong>Bgs</strong></p>
                <img src="../img/bgs1.png" title="bgs" />
                <p>sábado, 28 de Outubro.<br> Início às 12:00,<br> Término às 20:00.<br> <a href="https://www.brasilgameshow.com.br/sobre/" target="blank">O que é a Bgs??</a></p>
            </div>

              <div class="Imagens-home">
                  <p><strong>Balada</strong></p>
                <img src="../img/balada.png" title="balada"/>
                <p>Sexta-feira, 25 de Novembro.<br> Início às 19:00,<br> Término às 3:00.<br> <a href="https://www.tomorrowland.com/global/" target="blank">O que é o Tomorrowland??</a></p>
            </div>
                    
                    <div class="Imagens-home">
                       <br> <p><strong>Animefriends</strong></p>
                        <img src="../img/animefreinds.png" title="Animefriends" />
                        <p>Terça-feira, 20 de outubro.<br>Inicio às 15:00,<br>Término às 20:00.<br> <a href="https://animefriends.com.br/sao-paulo/" target="blank"> O que é o Animefriends??</a></p><br>
                    </div>
                    
                    <div class="Imagens-home">
                        <p><strong>E3</strong></p>
                        <img src="../img/E3.png" title="E3" />
                        <p>Terça-feira, 24 de outubro.<br>Inicio às 17:00,<br>Término às 22:00.<br> <a href="https://www.e3expo.com/about" target="blank">O que é a E3??</a></p>
                    </div>

                    <div class="Imagens-home">
                            <p><strong>Feira de ciências</strong></p>
                            <img src="../img/feiradeciencias1.png" title="feira de ciencias" />
                            <p>Terça-feira, 23 de dezembro.<br>Inicio às 17:00,<br>Término às 22:00.<br> <a href="https://www.educacao.sp.gov.br/feiradeciencias" target="blank">O que é uma Feira de ciências??</a></p>
                        </div>
                    
                </div>

        </div>


                <!-- <div class="Imagens-home2">
                    
                    <div class="Imagens-home2">
                        <img src="img/animefriend.png" title="Animefriends" width="500" height="300" />
                        <p>Terça-feira, 20 de outubro.<br>Inicio às 15:00,<br>Término às 20:00.</p>
                    </div>
                    
                    <div class="Imagens-home2">
                        <img src="img/e3.jpg" title="E3" width="500" height="300" />
                        <p>Terça-feira, 24 de outubro.<br>Inicio às 17:00,<br>Término às 22:00.</p>
                    </div>
                    
                </div> -->
    </main>